body {
    min-height: 100vh;
    position: relative;
    text-align: center;
    color: blanchedalmond;
    overflow: hidden;
    background: linear-gradient(#f4f4f4ed, white);
    background-image: url('images/neon-border-2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 6%;
    margin-top: 5%;
}

.collapse {
    text-align: right;
}

.navbar-toggler {
    background-color: #E8F6EF;
}

.brand1 {
    height: 7rem;
    border-radius: 0.5rem;
    margin: 5%;
}

.brand1:hover {
    margin-left: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(211, 228, 228, 0.521);
    -moz-box-shadow: 0px 0px 10px 0px rgba(223, 233, 230, 0.849);
    box-shadow: 0px 0px 10px 0px rgb(157, 230, 193);
}

.btn1 {
    background-color: aliceblue;
}

.main-head {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin-top: 5%;
    font-size: 4.5rem;
    color: #E8F6EF;
    transition: transform .5s;
}

@media only screen and (max-width: 600px) {
    .main-head {
        font-size: 3.2rem;
    }
}

.main-head:hover {
    transform: scale(1.2);
    /* (150% zoom)*/
}

.quiz {
    text-align: center;
    padding: 60px 100px;
    top: 20%;
}

.btn {
    width: 11rem;
    margin: 1.5%;
}